[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.13.1"
flake8 = "==3.6.0"
Django = "<4.0.2,>=3.0"

[dev-packages]

[requires]
python_version = "3.7"
